* {
    margin: 0;
    font-family: 'Roboto';
}

.navbar {
    background-color: #efefef;
    padding: 15px;
    overflow: auto;
}

.left-part {
    float: left;
}

.right-part {
    float: right;
}

.right-part div {
    display: inline;
    margin-right: 20px;
    color: #0040FF;
}


/*primera imagen*/

img {
    width: 100%;
    padding-bottom: 30px;
}

.image-one {
    position: relative;
    width: 100%;
}

.title-home {
    color: white;
    position: absolute;
    top: 200px;
    width: 100%;
    margin-top: 10%;
    overflow: auto;
    text-align: center;
}

.text-home {
    color: black;
    position: absolute;
    top: 200px;
    width: 100%;
    margin-top: 14%;
    text-align: center;
    overflow: auto;
}

.button {
    color: black;
    position: absolute;
    top: 200px;
    left: 0;
    margin-top: 17%;
    margin-left: 46%;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/*segunda seccion*/

.second-section {
    background-color: yellow;
    padding: 100px;
    margin-top: -40px;
}

.second-photo {
    width: 600px;
    height: 300px;
    margin-left: -100px;
    margin-right: 30px;
    margin-top: -100px;
}

.second-text {
    margin-left: 100px;
    margin-right: 100px;
}

.third-section {
    margin-top: 112px;
    margin-left: 143px;
}

.hack-container {
    width: 50%;
}

.photo-container-2 {
    width: 20%;
    display: inline-block;
    margin-left: 50px;
    margin-top: 100px;
}

.form-container-2 {
    float: right;
}

.p-2 {
    width: 600px;
    word-wrap: break-word;
}


/*tercera seccion*/

input {
    margin-bottom: 7px;
}

.form-container {
    display: inline;
}

.form {
    display: inline-block;
    margin-left: 10%;
}

.photo-container {
    width: 30%;
    display: inline;
}

.border-input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.button-input,
.button-hack {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 30px;
}

.footer {
    padding: 10px;
    padding-bottom: 15px;
    background-color: #81BEF7;
}

#second-photo {
    float: none;
}